* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.parallax {
  background: url(../images/other/Layer\ 1\ 5.png);
  height: 1012px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-elements {
  display: flex;
  text-align: center;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  width: 200px;
}

.logo img {
  width: 58px;
  height: 67px;
}

.logo p {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  display: flex;
}

.logo span {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
}

.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 657px;
  padding-top: 10px;
}

.menu img {
  width: 21.09px;
  height: 20px;
}

.menu p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  transition: .3s;
}

.menu p:hover {
  color: #18cfab;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 264px;
  height: 1012px;
}

.text>* {
  color: #fff;
  margin-top: 31px;
}

.text h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
}

.text span {
  color: #18cfab;
}

.text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 1px;
  text-transform: uppercase;
  text-align: center;
}

.text h3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  text-align: center;
  padding-top: 22px;
  color: #d4d4d4;
}

.buttons {
  width: 366px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 169px;
  height: 63px;
  margin-top: 134px;
  margin-bottom: 241px;
  border: none;
  border-top: white 4px solid;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
}

.explore {
  background-color: #18cfab;
}

.purchase {
  background-color: #00CBF6;
}

.options-list {
  width: 100%;
  display: flex;
  margin-top: 8px;
}

.options-list div {
  width: 25%;
  height: 377px;
  background-color: #1C2A33;
  color: #18cfab;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.options-list div:nth-child(2n) {
  background-color: #18CFAB;
  color: #ffffff;
}

.options-list div:nth-child(2) img {
  padding: 12px;
}

.options-list div:nth-child(4) img {
  padding: 10px;
}

.options-list div img {
  margin-bottom: 48px;
}

.name-our {
  margin-top: 83px;
  margin-bottom: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-our h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 28px;
}

.our-services ul {
  list-style: none;
}

.tabs-block {}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.tabs li {
  width: 195px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEFEF;
  border: 1px #e3e5e5 solid;
  transition: .3s;
  cursor: pointer;
}

.tabs li:hover {
  padding: 19px 0;
  border: 2px solid #18CFAB;
}

.tabs li.active {
  background-color: #18CFAB;
  color: #fff;
}

.tabs-content>* {
  padding-bottom: 10px;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  display: none;
}

.tabs-content img {
  width: 207px;
  height: 139px;
  padding-right: 15px;
  display: flex;
}

.tabs-content li:first-child {
  display: flex;
}

.tabs-content p {
  display: flex
}

.purchase-now {
  background-image: url(../images/other/Layer\ 21\ 1.png);
  height: 356px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 81px;
  color: #18CFAB;
}

.text-purchase-now {}

.purchase-now h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 107px;
}

.purchase-now p {
  color: #D8D8D8;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

.purchase-now button {
  width: 169px;
  height: 63px;
  border: none;
  border-top: white 4px solid;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #18CFAB;
  margin-top: 37px;
}

.button-p-now {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-color {
  background-color: #E9EDEF;
}

.our-amazing-work {
  padding-top: 95px;
}

.our-amazing-work ul {
  list-style-type: none;
}

.text-our-amazing-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 69px;
  color: #4E4E4E;
}

.text-our-amazing-work h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.text-our-amazing-work img {
  padding-top: 24px;
}

.tabs-titles {
  display: flex;
  margin-bottom: 71px;
  justify-content: center;
}

.tabs-titles li {
  border: 1px solid #DADADA;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  transition: .3s;
  cursor: pointer;
}

.tabs-titles li:hover {
  border: #18CFAB 1px solid;
  color: #18CFAB;
}

.tabs-titles li.active,
.tabs-titles li.active:hover{
  background-color: #18CFAB;
  color: white;
}

.tabs-titles li:first-child {
  padding-left: 28px;
  padding-right: 28px;
}

.load-more-tabs img {
  border: none;
}

.load-more-tabs {
  display: flex;
}

.load-more-tabs li {
  display: flex;
  flex-direction: column;
}

.block-w-hover {
  position: relative;
  overflow: hidden;
}

.photo-hover {
  width: 100%;
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: absolute;
  bottom: -100%;
  background-color: #fff;
}

.photo-hover img {
  margin-bottom: 30px;
}

.photo-hover h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #18CFAB;
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
}

.photo-hover p {
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8A8A8A;
  text-transform: capitalize;
}

.block-w-hover:hover .photo-hover {
  bottom: 0;
}

.photo {
  width: 25%;
  height: 211px;
}

.photo img {
  border: none;
  height: 100%;
}

.load-more-tabs li:last-child {
  position: relative;
  right: 2px;
}

.load-more-12photos {
  margin-top: 70px;
  background-color: #18CFAB;
  width: 168px;
  height: 63px;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 70px;
  border: none;
  position: relative;
  left: 42%;
  cursor: pointer;
  border-radius: 5px;
}

.load-more {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hidden {
  display: none;
}

.load-more img {
  width: 100%;
}

.breaking-news {
  padding-top: 60px;
}

.news-div img {
  width: 263px;
  height: 208px;
}

.header-news {
  margin-top: 20px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-news h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 28px;
}

.news {
  display: block;
}

.line {
  display: flex;
}

.news a {
  padding-right: 35px;
  text-decoration: none;
}

a {
  transition: .3s;
  cursor: pointer;
}

.news-div h3 {
  position: relative;
  top: -62px;
  left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  transition: .3s;
}

.news-div p {
  position: relative;
  top: -74px;
  left: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
  word-spacing: 5px;
}

.date-square {
  width: 70px;
  height: 68px;
  background-color: #203E38;
  display: flex;
  justify-content: center;
  position: relative;
  left: 193px;
  top: -212px;
  transition: .3s;
}

.date-square p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-square p span {
  display: block;
}

a:hover h3 {
  color: #18CFAB;
}

a:hover .date-square {
  background-color: #18CFAB;
}

.background {
  background: url(../images/other/Layer\ 333.png);
  height: 100%;
  /* background-size: 100%; */
  background-repeat: no-repeat;
}

.what-people-say-about-theham {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.what-people-say-about-theham h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 98px;
}

.what-text {
  display: contents;
}

.img1 {
  margin-top: 29px;
}

.what-person {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BBBBBB;
}

.person {
  display: flex;
  align-items: center;
  text-align: center;
}

.img2 {
  margin-top: 61px;
  margin-bottom: 36px;
}

.swiper {
  width: 100%;
  text-align: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}

.swiper-slide p {
  margin-bottom: 37px;
}

.swiper-slide h3 {
  color: #18CFAB;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.swiper-slide h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}

.swiper-slide img {
  width: 143px;
  height: 142px;
  border-radius: 100px;
  border: #144745 10px solid;
}


.text-box-slider p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-top: 35px;
  color: #BBBBBB;
}

.text-box-slider h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18CFAB;
  padding-top: 36px;
}

.text-box-slider h6 {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #BBBBBB;
  padding-bottom: 25px;
}

.slider-img img {
  width: 142px;
  height: 142px;
  border: 12px solid rgba(31, 218, 181, .2);
  border-radius: 50%;
  object-fit: cover;
}

/* _____mini ___slider_______*/

.swiper-mini {
  display: inline-block;
  padding-top: 36px;
  padding-left: 26px;
  padding-right: 26px;
  width: 485px;
  overflow: hidden;
  position: relative;
}

.swiper-mini-wrapper {
  width: 415px;
}

.img-mini-slider {}

.mini-slider-img img {
  width: 58px;
  height: 58px;
  border: 6px solid rgba(31, 218, 181, .2);
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #BBBBBB;
  font-size: 10px;
  line-height: 33px;
  border: 1px solid #BBBBBB;
  position: absolute;
  top: 25px;
  height: 33px;
  width: 33px;
  text-align: center;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  background-color: #18CFAB;
  color: #FFFFFF;
}

.swiper-slide-thumb-active {
  position: relative;
  top: -15px;
}

.last-photo {
  margin-top: 0;

}

.last-photo img {
  width: 100%;
}
